@import '~@coreui/coreui/dist/css/coreui.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@coreui/icons/css/free.css";
@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

@import "transitions";

html:not([dir="rtl"]) .wrapper {
  padding-left: var(--cui-sidebar-occupy-start,0);
}

.pagination {
  margin-bottom: 0;
}

.filepond--item {
  width: calc(25% - 0.5em);
}